@import "./reset.css";
@import "./styles.css";

@font-face {
  font-family: "MapoFlowerIsland";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.column--20 {
  width: 20%;
}

.column--60 {
  width: 60%;
  display: flex;
  justify-content: center;
}

header .greetings {
  font-size: 25px;
}

header input,
header input::placeholder {
  font-size: 22px;
}

.todoList__form input,
.todoList__form input::placeholder {
  font-size: 22px;
}

.todoList__buttons button {
  font-size: 18px;
}

.todoList__list button {
  font-size: 18px;
}

.todoList__list span {
  font-size: 18px;
}

.todoList__list input {
  font-size: 18px;
}

.todoList__list input::placeholder {
  font-size: 18px;
}

.disable {
  display: none;
}

.btn {
  cursor: pointer;
}

.clicked {
  color: #7f8c8d;
}

main,
.greetings-form,
.greetings {
  display: none;
}

.greetings {
  justify-content: center;
  align-items: center;
}

.showing-b {
  display: block;
}

.showing-f {
  display: flex;
}

.non-showing {
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  animation: fadeIn 2s ease-in-out;
}

.momentum {
  margin-top: 75px;
  box-sizing: border-box;
  max-width: 900px;
  max-height: calc(100% - 150px);
  padding: 55px;
  width: 65%;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 5px 5px 20px;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .clock {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.clock .clock__time {
  margin-top: 5px;
}

header input {
  border: none;
  width: 100%;
  padding: 10px 10px;
  text-align: center;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

header input:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

header input::placeholder {
  text-align: center;
}

@keyframes notificationAnimation {
  0% {
    transform: none;
  }

  50% {
    transform: translateY(5px);
  }

  100% {
    transform: none;
  }
}

@keyframes shakeItAnimation {
  0% {
    transform: rotateZ(-15deg);
  }

  50% {
    transform: rotateZ(15deg);
  }

  100% {
    transform: rotateZ(-15deg);
  }
}

.greetings__emoticon:hover {
  animation: shakeItAnimation 2s ease-in-out infinite;
}

.greetings__name {
  padding: 10px;
  transition: all 0.1s ease-in-out;
}

.greetings__name:hover {
  animation: notificationAnimation 2s ease-in-out infinite;
}

.greetings__name:active {
  background-color: rgba(101, 101, 101, 0.3);
  border-radius: 50%;
}

main {
  width: 100%;
  flex-direction: column;
  align-items: center;
}

main .todoList__form {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.todoList__form form {
  width: 100%;
}

.todoList__form input {
  width: 100%;
  border: none;
  padding: 10px 0;
  text-align: center;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0;
}

.todoList__buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todoList__buttons button {
  transition: all 0.3s ease-in-out;
}

.todoList__buttons button:hover {
  background-color: rgba(101, 101, 101, 0.5);
}

.todoList__buttons button:active {
  background-color: rgba(101, 101, 101, 0.7);
}

.todoList__form button {
  width: 50%;
  padding: 10px 0px;

  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  border-bottom: 0.2px solid rgba(0, 0, 0, 0.2);
}

.todoList__buttons .todoList__button__active {
  background-color: rgba(0, 0, 0, 0.2);
}

main .todoList__list {
  margin-top: 10px;
  width: 100%;
  overflow: auto;
  max-height: calc(100vh - 538px);
}

.todoList__list ul {
  width: 100%;
}

.todoList__list li {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todoList__list button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.3s ease-in-out;
}

footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 50px;
}

.todoList__list span {
  display: block;
  margin-left: 10px;
  width: 100%;
  padding: 15px 0;
  transition: all 0.3s ease-in-out;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

@keyframes popUpAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: none;
  }
}

@keyframes twinkleAnimation {
  0% {
    color: black;
  }
  50% {
    color: white;
  }
  100% {
    color: black;
  }
}

.todoList__list button:hover {
  background-color: rgba(101, 101, 101, 0.3);
  animation: popUpAnimation 1s ease-in-out infinite;
}

.todoList__list button:active {
  background-color: rgba(101, 101, 101, 0.7);
}

.todoList__list span:hover {
  background-color: rgba(101, 101, 101, 0.3);
  animation: twinkleAnimation 2s ease-in-out infinite;
}

.todoList__list span:active {
  background-color: rgba(101, 101, 101, 0.7);
}

.todoList__list input {
  width: 100%;
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 14px 0;
  text-align: center;
  border-radius: 0;
}

.todoList__list input:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.todoList__list input::placeholder {
  margin-left: 10px;
  text-align: center;
}

.alert-message__text__sm {
  display: none;
}

@media screen and (max-width: 600px) {
  header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  header .clock {
    text-align: center;
  }

  .todoList__buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .todoList__form button {
    width: 50%;
    margin-top: 0;
    padding: 10px 0px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    border-bottom: 0.2px solid rgba(0, 0, 0, 0.2);
  }

  .column--20,
  .column--60 {
    width: 100%;
  }

  .column--20:nth-child(1) {
    display: flex;
    justify-content: center;
  }

  .column--60:nth-child(2) {
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }

  .column--20:nth-child(3) {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 14px;
  }

  header .clock {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  .clock .clock__time {
    margin-left: 10px;
  }

  .momentum {
    max-width: 560px;
    max-height: calc((var(--vh, 1vh) * 100) - 40px);
    box-sizing: border-box;
    padding: 35px;
    margin-top: 20px;
    width: calc(100% - 40px);
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 5px 5px 20px;
  }

  main .todoList__list {
    overflow: auto;
    margin-top: 10px;
    width: 100%;
    max-height: calc((var(--vh, 1vh) * 100) - 442px);
  }

  footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 35px;
  }

  footer .weather {
    margin-top: 10px;
  }

  .todoList__list button {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    font-size: 18px;
    padding: 3px;
  }

  .alert-message__text {
    display: none;
  }

  .alert-message__text__sm {
    display: block;
  }

  @keyframes smallPopUpAnimation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

  .greetings__name:hover {
    background-color: rgba(101, 101, 101, 0);
    animation: twinkleAnimation 0s ease-in-out infinite;
  }

  .greetings__name:nth-child(2) {
    padding: 10px;
    transition: all 0.1s ease-in-out;
  }

  .todoList__list button:hover {
    background-color: rgba(101, 101, 101, 0);
    animation: popUpAnimation 0s ease-in-out infinite;
  }

  .todoList__list button {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    font-size: 18px;
    transition: all 0.3s ease-in-out;
  }

  .todoList__list span:hover {
    background-color: rgba(101, 101, 101, 0);
    animation: twinkleAnimation 0s ease-in-out infinite;
  }

  .greetings__emoticon:hover {
    animation: shakeItAnimation 0s ease-in-out infinite;
  }

  .greetings__emoticon {
    animation: shakeItAnimation 2s ease-in-out infinite;
  }

  *,
  header,
  footer {
    font-family: "MapoFlowerIsland";
    font-size: 18px;
  }

  header {
    font-size: 16px;
  }

  header input {
    font-size: 18px;
    width: 50vw;
    border: none;
    padding: 10px 10px;
    text-align: center;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.1);
  }

  header input::placeholder,
  header .greetings {
    font-size: 18px;
  }

  .todoList__form input {
    width: 100%;
    border: none;
    padding: 8px 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
    border-bottom: 0px solid rgba(0, 0, 0, 0.2);
    border-radius: 0;
    margin-bottom: 0;
  }

  .todoList__form input,
  .todoList__form input::placeholder {
    font-size: 18px;
  }

  .todoList__buttons button {
    font-size: 16px;
  }

  .todoList__list button {
    font-size: 16px;
  }

  .todoList__list span {
    font-size: 16px;
  }

  .todoList__list input {
    font-size: 16px;
    padding: 14px 0;
  }

  .todoList__list input::placeholder {
    font-size: 16px;
  }

  footer {
    font-size: 16px;
  }

  .bgImage {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn 2s ease-in-out;
  }
}
