@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "./reset.css";

@font-face {
  font-family: "LAB디지털";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/LAB디지털.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@import url(//fonts.googleapis.com/earlyaccess/jejumyeongjo.css);

.jejumyeongjo * {
  font-family: "Jeju Myeongjo", serif;
}

@font-face {
  font-family: "MaruBuri-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/MaruBuri-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MapoFlowerIsland";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

*,
header,
footer {
  font-family: "MapoFlowerIsland";
  font-size: 18px;
  /* -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; */
}

header {
  font-size: 18px;
}

header .greeting__text {
  font-size: 25px;
}

.greeting input {
  font-size: 22px;
}

.greeting input::placeholder {
  font-size: 22px;
}

.todoList__form input,
.todoList__form input::placeholder {
  font-size: 22px;
}

.todoList__buttons button {
  font-size: 18px;
}

.todoList__list button {
  font-size: 18px;
}

.todoList__list span {
  font-size: 18px;
}

.todoList__list input {
  font-size: 18px;
}

.todoList__list input::placeholder {
  font-size: 18px;
}

footer {
  font-size: 18px;
}

.column--33 {
  width: 33%;
}

.column--30 {
  width: 30%;
}

.column--10 {
  width: 10%;
}

.column--40 {
  width: 40;
}

.column--20 {
  width: 20%;
}

.column--60 {
  width: 60%;
}

.column--60 {
  display: flex;
  justify-content: center;
}

.column--33:nth-child(2) {
  display: flex;
  justify-content: center;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

body {
  overflow-x: hidden;
  /* font-family: "Jeju Myeongjo", serif; */
  background-color: #2c3e50;
  color: black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
input:focus {
  outline: 0;
}
button:focus {
  outline: 0;
}

.disable {
  display: none;
}

.btn {
  cursor: pointer;
}

.clicked {
  color: #7f8c8d;
}

.form,
.greetings,
main {
  display: none;
}

.showing {
  display: block;
}

.non-showing {
  display: none;
}

.showing--f {
  display: flex;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: fixed;

  width: 100vw;
  height: 100vh;

  /* Preserve aspet ratio */

  z-index: -1;
  animation: fadeIn 2s ease-in-out;
}

.momentum {
  margin-top: 75px;
  box-sizing: border-box;
  max-width: 900px;
  max-height: calc(100% - 150px);
  padding: 55px;
  width: 65%;
  background-color: rgba(255, 255, 255, 1);
  /* box-shadow: 10px 10px rgba(0, 0, 0, 0.1); */
  /* box-shadow: 0 0 25px; */
  /* box-shadow: inset 0 0 10px; */
  /* box-shadow: 0 0 5px 5px olive; */
  box-shadow: 5px 5px 20px;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .clock {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.clock .clock__time {
  margin-top: 5px;
}

header .greeting__text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.greeting {
  width: 80%;
  display: flex;
  justify-content: center;
}

.greeting input {
  border: none;
  width: 100%;
  padding: 10px 10px;
  text-align: center;
  /* font-family: "Jeju Myeongjo", serif; */
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.greeting input:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.greeting input::placeholder {
  /* font-family: "Jeju Myeongjo", serif; */
  text-align: center;
}

@keyframes notificationAnimation {
  0% {
    transform: none;
  }

  50% {
    transform: translateY(5px);
  }

  100% {
    transform: none;
  }
}

@keyframes shakeItAnimation {
  0% {
    transform: rotateZ(-15deg);
  }

  50% {
    transform: rotateZ(15deg);
  }

  100% {
    transform: rotateZ(-15deg);
  }
}

.greeting h4:nth-child(1):hover {
  animation: shakeItAnimation 2s ease-in-out infinite;
}

.greeting h4:nth-child(2) {
  padding: 10px;
  transition: all 0.1s ease-in-out;
}

.greeting h4:nth-child(2):hover {
  animation: notificationAnimation 2s ease-in-out infinite;
}

.greeting h4:nth-child(2):active {
  background-color: rgba(101, 101, 101, 0.3);
  border-radius: 50%;
}

main {
  width: 100%;
  flex-direction: column;
  align-items: center;
}

main .todoList__form {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.todoList__form form {
  width: 100%;
}

.todoList__form input {
  width: 100%;
  border: none;
  padding: 10px 0;
  text-align: center;
  background-color: rgba(255, 255, 255, 1);
  /* border-bottom: 0.2px solid rgba(0, 0, 0, 0.2); */
  border-radius: 0;
}

.todoList__buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todoList__buttons button {
  transition: all 0.3s ease-in-out;
}

.todoList__buttons button:hover {
  background-color: rgba(101, 101, 101, 0.5);
}

.todoList__buttons button:active {
  background-color: rgba(101, 101, 101, 0.7);
}

.todoList__form button {
  width: 50%;
  /* font-family: "Jeju Myeongjo", serif; */
  padding: 10px 0px;

  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  border-bottom: 0.2px solid rgba(0, 0, 0, 0.2);
}

.todoList__buttons .todoList__button__active {
  background-color: rgba(0, 0, 0, 0.2);
}

main .todoList__list {
  /* footer: 68px, top-bottom * 2 (padding, margin): 260px, header: 59px, todoForm: 141px, margin: 10px*/
  margin-top: 10px;
  width: 100%;
  overflow: auto;
  max-height: calc(100vh - 538px);
}

.todoList__list ul {
  width: 100%;
}

.todoList__list li {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todoList__list button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.3s ease-in-out;
}

footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 50px;
}

.todoList__list span {
  display: block;
  margin-left: 10px;
  width: 100%;
  padding: 15px 0;
  transition: all 0.3s ease-in-out;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

@keyframes popUpAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: none;
  }
}

@keyframes twinkleAnimation {
  0% {
    color: black;
  }
  50% {
    color: white;
  }
  100% {
    color: black;
  }
}

.todoList__list button:hover {
  background-color: rgba(101, 101, 101, 0.3);
  animation: popUpAnimation 1s ease-in-out infinite;
}

.todoList__list button:active {
  background-color: rgba(101, 101, 101, 0.7);
}

.todoList__list span:hover {
  background-color: rgba(101, 101, 101, 0.3);
  animation: twinkleAnimation 2s ease-in-out infinite;
}

.todoList__list span:active {
  background-color: rgba(101, 101, 101, 0.7);
}

.todoList__list input {
  /* font-family: "Jeju Myeongjo", serif; */
  width: 100%;
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 14px 0;
  text-align: center;
  border-radius: 0;
}

.todoList__list input:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.todoList__list input::placeholder {
  margin-left: 10px;
  text-align: center;
}

.alert-message__text__sm {
  display: none;
}

@media screen and (max-width: 600px) {
  html,
  body {
    width: 100%;
    height: 100%;
  }

  *,
  header,
  footer {
    font-family: "MapoFlowerIsland";
    font-size: 16px;
    /* -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; */
  }

  body {
    overflow-x: hidden;
    /* font-family: "Jeju Myeongjo", serif; */
    background-color: #2c3e50;
    color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }

  header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  header .clock {
    text-align: center;
  }

  .todoList__buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .todoList__form button {
    width: 50%;
    /* font-family: "Jeju Myeongjo", serif; */
    margin-top: 0;
    padding: 10px 0px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    /* border-bottom: 0.5px solid rgba(0, 0, 0, 0.2); */
    border-bottom: 0.2px solid rgba(0, 0, 0, 0.2);
  }

  .column--33 {
    width: 100%;
  }

  .column--20,
  .column--60,
  .column--10,
  .column--40,
  .column--30 {
    width: 100%;
  }

  .column--20:nth-child(1) {
    display: flex;
    justify-content: center;
  }

  .column--60:nth-child(2) {
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }

  .column--20:nth-child(3) {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 14px;
  }

  .column--10:nth-child(1) {
    display: flex;
    justify-content: center;
  }

  .column--60:nth-child(2) {
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }

  .column--30:nth-child(3) {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 14px;
  }

  .column--33:nth-child(1) {
    display: flex;
    justify-content: center;
  }

  .column--33:nth-child(2) {
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }

  .column--33:nth-child(3) {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 14px;
  }

  header .clock {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  .clock .clock__time {
    margin-left: 10px;
  }

  .momentum {
    max-width: 560px;
    max-height: calc(100vmax - 40px);
    box-sizing: border-box;
    padding: 35px;
    margin-top: 20px;
    width: calc(100vmin - 40px);
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 5px 5px 20px;
  }
  main .todoList__list {
    /* top: 262px, 46px per a li, margin-top: 10px, footer: 77px*/
    overflow: auto;
    margin-top: 10px;
    width: 100%;
    max-height: calc(100vmax - 452px);
  }

  footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 35px;
  }

  footer .weather {
    margin-top: 10px;
  }

  .todoList__list button {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    font-size: 18px;
    padding: 3px;
  }

  .alert-message__text {
    display: none;
  }

  .alert-message__text__sm {
    display: block;
  }

  @keyframes smallPopUpAnimation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

  .greeting h4:nth-child(2):hover {
    background-color: rgba(101, 101, 101, 0);
    animation: twinkleAnimation 0s ease-in-out infinite;
  }

  .greeting h4:nth-child(2) {
    padding: 10px;
    transition: all 0.1s ease-in-out;
  }

  .todoList__list button:hover {
    background-color: rgba(101, 101, 101, 0);
    animation: popUpAnimation 0s ease-in-out infinite;
  }

  .todoList__list button {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    font-size: 18px;
    transition: all 0.3s ease-in-out;
  }

  .todoList__list span:hover {
    background-color: rgba(101, 101, 101, 0);
    animation: twinkleAnimation 0s ease-in-out infinite;
  }

  .greeting h4:nth-child(1):hover {
    animation: shakeItAnimation 0s ease-in-out infinite;
  }

  .greeting h4:nth-child(1) {
    animation: shakeItAnimation 2s ease-in-out infinite;
  }

  *,
  header,
  footer {
    font-family: "MapoFlowerIsland";
    font-size: 18px;
    /* -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; */
  }

  header {
    font-size: 16px;
  }

  header .greeting__text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
  }

  .greeting input {
    font-size: 18px;
    width: 50vw;
    border: none;
    padding: 10px 10px;
    text-align: center;

    /* font-family: "Jeju Myeongjo", serif; */

    border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .greeting input::placeholder {
    font-size: 18px;
  }

  .todoList__form input {
    width: 100%;
    border: none;
    padding: 8px 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
    border-bottom: 0px solid rgba(0, 0, 0, 0.2);
    /* border-bottom: 0.2px solid rgba(0, 0, 0, 0.2); */
    border-radius: 0;
    margin-bottom: 0;
  }

  .todoList__form input,
  .todoList__form input::placeholder {
    font-size: 18px;
  }

  .todoList__buttons button {
    font-size: 16px;
  }

  .todoList__list button {
    font-size: 16px;
  }

  .todoList__list span {
    font-size: 16px;
  }

  .todoList__list input {
    font-size: 16px;
    padding: 14px 0;
  }

  .todoList__list input::placeholder {
    font-size: 16px;
  }

  footer {
    font-size: 16px;
  }

  .bgImage {
    position: fixed;

    width: 100vmin;
    height: 100vmax;

    /* Preserve aspet ratio */

    z-index: -1;
    animation: fadeIn 2s ease-in-out;
  }

  /* .todoList__list button {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    font-size: 18px;
    transition: all 0.3s ease-in-out;
  }

  @keyframes buttonAnimation {
    from {
      transform: scale(10);
    }
  }

  .todoList__list button:focus {
    animation: buttonAnimation;
  } */
}

/* @media screen and (min-width: 601px) and (max-width: 1200px) {
  html,
  body {
    width: 100vmin;

    height: 100vmax;
  }

  .momentum {
    box-sizing: border-box;
    margin-top: 100px;
    padding: 35px;
    max-width: 80%;
    width: 80%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 1);
  }

  .bgImage {
    position: fixed;
    top: 0;
    width: 100vmin;
    height: 100vmax;

    

    z-index: -1;
    animation: fadeIn 2s ease-in-out;
  }

  .alert-message__text {
    display: none;
  }

  .alert-message__text__sm {
    display: block;
  }
} */
